
<body class = "activeadmin logged_out new">
    <div id="wrapper">
      <div id="content_wrapper">
        <div class="flashes">
          <div class="flash flash_alert">Não foi possível realizar o cadastro!</div>
        </div>
        <%= render partial: 'base' %>
      </div>
    </div>
</body>

